name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - name: Setup Java (JDK 17)
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Grant Execute Permission for Gradlew
        working-directory: android
        run: chmod +x gradlew

      - name: Build Release APK
        working-directory: android
        run: ./gradlew assembleRelease -x lint -x test -x androidJavadoc --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: XKode-release.apk
          path: android/app/build/outputs/apk/release/app-release.apk
          retention-days: 7